body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.draggable {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #495057;
  border-radius: 5px;
  cursor: grab;
}

.form-container {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  background-color: white;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-element {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-element label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-element input,
.form-element select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-element select {
  appearance: none;
  padding-right: 30px; /* add space for arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 20px;
}

.form-element button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-element button:hover {
  background-color: #0056b3;
}
